@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(139, 92, 246);
  background-image: radial-gradient(at 25% 100%, rgb(186, 230, 253) 0, transparent 25%), radial-gradient(at 90% 12%, rgb(233, 213, 255) 0, transparent 70%), radial-gradient(at 54% 18%, rgb(16, 185, 129) 0, transparent 46%), radial-gradient(at 74% 88%, rgb(124, 58, 237) 0, transparent 17%), radial-gradient(at 4% 50%, rgb(91, 33, 182) 0, transparent 78%), radial-gradient(at 98% 17%, rgb(162, 28, 175) 0, transparent 74%);
  background-repeat: no-repeat;
  background-size: cover;
} 
